body {
    background-color: #eeeeee;
}

h1 {
    color: darkgreen;
}

.row {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
}

.row-item {
    display: block;
    margin: 15px 30px;
}

.monthly-payment {
    padding: 15px 0;
}

#sum, #duration {
    font-size: larger;
}

#calcButton {
    margin: 10px 30px;
}

table, td, th {
    border: darkgreen solid 1px;
}

.back-link {
    margin: 15px 0;
}