<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Кредитный калькулятор</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Кредитный калькулятор</h1>
<div class="container">
    <form method="post" action="#" th:action="@{/calc}" th:object="${creditCondition}">
        <div class="row">
            <span class="row-item">Процентная ставка: 12.9%</span>
        </div>
        <div class="row">
            <label class="row-item" for="sum">Сумма кредита (руб.):</label>
            <input id="sum" th:field="*{sum}" class="number row-item" type="text">
        </div>
        <div class="row">
            <label class="row-item" for="duration">Срок кредита в месяцах (мес.):</label>
            <input id="duration"  th:field="*{duration}" class="number row-item"
                   type="text">
        </div>
        <div class="row">
            <input id="calcButton" type="submit" value="Расчитать">
        </div>
    </form>
</div>

<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
</body>
</html>