<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Результат вычислений</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"
          th:href="@{/css/style.css}">
</head>
<body>
<h1>Результат вычислений по кредиту</h1>

<div class="monthly-payment">
    <b>Ежемесячный платеж:</b>
    <span
            th:text="${#numbers.formatDecimal(calcResult.monthlyPayment,2,2,'COMMA')} + ' руб.'"></span>
</div>
<div class="calculation-results">
    <table>
        <thead>
        <tr>
            <th>№</th>
            <th>Месяц/Год</th>
            <th>Платеж по основному долгу</th>
            <th>Платеж по процентам</th>
            <th>Остаток основного долга</th>
            <th>Общая сумма платежа</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="feature : ${calcResult.paymentFeatures}">
            <td><span th:text="${feature.id}">ID</span></td>
            <td><span th:text="${feature.monthNumber}">MonthNumber</span></td>
            <td><span th:text="${feature.principalPayment}">PrincipalPayment</span></td>
            <td><span th:text="${feature.interestPayment}">InterestPayment</span></td>
            <td><span th:text="${feature.balance}">Balance</span></td>
            <td><span th:text="${feature.payed}">Balance</span></td>
        </tr>
        </tbody>
    </table>

    <a class="back-link" href="/" th:href="@{/}">Назад</a>
</div>
</body>
</html>